<!doctype html>
<% layout('layouts/boilerplate') %>
<h1>Edit campground</h1>
<form action="/campgrounds/<%=foundCamp._id%>?_method=put" method="POST">
    <div>
        <label for="name">Title:  </label>
        <input id="name" type="text" name="campgroundInfo[title]" value="<%=foundCamp.title%>">
    </div>
    <div>
        <label for="name">Location:  </label>
        <input id="name" type="text" name="campgroundInfo[location]" value="<%=foundCamp.location%>">
    </div>
    <button type="submit">Update campground</button>

</form>>
<a href="/campgrounds" > All campgrounds </a>
