<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camp grounds</title>
</head>
<body>
    <h1>All campground list</h1>
    <div><a href="/campgrounds/new">Create new campground</a></div>
    <ul>
        <% for (let camps of campgrounds) { %>
            <li>
                <a href="/campgrounds/<%=camps._id%>">
                    <%=camps.title%>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>