<% layout('layouts/boilerplate') %>
    <h1>
        <%=foundCamp.title%>
    </h1>
    <p>
        <%=foundCamp.location%>
    </p>
    <footer>
        <a href="/campgrounds">Show all campground</a>
    </footer>
    <form action="/campgrounds/<%=foundCamp._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <br>
    <a href="/campgrounds/<%=foundCamp._id%>/edit" > Edit campground info</a>
