<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show info</title>
</head>
<body>
    <h1>
        <%=foundCamp.title%>
    </h1>
    <p>
        <%=foundCamp.location%>
    </p>
    <footer>
        <a href="/campgrounds">Show all campground</a>
    </footer>
    <form action="/campgrounds/<%=foundCamp._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <br>
    <a href="/campgrounds/<%=foundCamp._id%>/edit" > Edit campground info</a>
</body>
</html>